.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.new-collections hr{
    width: 250px;
    height: 6px ;
    border-radius: 10px;
    background: #252525;
}
.collections{
    padding: 10px 50px;
    gap: 30px;
    display: flex;
    overflow: scroll;
    width: 100%;
    height: 450px;
}
::-webkit-scrollbar{
    display: none;
}
@media(max-width:1000px){
    .new-collections h1{
        font-size: 35px;
    }
    .new-collections hr{
        width: 180px;
        margin-top: -10px;
    }
}
@media(max-width:800px){
    .new-collections h1{
        font-size: 25px;
    }
    .new-collections hr{
        width: 120px;
        margin-top: -10px;
    }
}
@media(max-width:500px){
    .new-collections h1{
        font-size: 20px;
    }
    .new-collections hr{
        width: 100px;
        margin-top: -15px;
        height: 3px;
    }
}
@media(max-width:330px){
    .new-collections h1{
        font-size: 15px;
    }
    .new-collections hr{
        width: 60px;
        margin-top: -20px;
        height: 3px;
    }
}